@import '../../../utils/styles/theme.scss';

.header {
  background-color: $main-color;
  padding: 3.6rem 0;
  margin-bottom: 3.6rem;

  &__title {
    font-size: 2.5rem;
    color: #ffffff;
    margin: 0 1rem 0 0;
  }

  &__main {
    &__detail {
      > p {
        font-size: 1rem;
        margin: 0;
      }
    }

    &--sub-title {
      color: #ffffff;
    }

    &--explain {
      color: #ffffff;
    }
  }
}
