@import '../../../utils/styles/theme.scss';

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.4);

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffffff;
    border-radius: 3px;
    padding: 4.2rem 5.7rem;
    transform: translate(-50%, -50%);

    @media (max-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 1rem;
    }

    @media (max-height: $mobile-height) {
      padding: 1rem;
      max-height: 90%;
      overflow-y: auto;
    }
  }

  &--title {
    font-size: 1.125rem;
    margin-bottom: 2.25rem;
    color: $main-color;
  }
}
