@import '../../../utils/styles/theme.scss';

.setting {
  @include mobile-modal;

  width: 350px;

  &--input {
    flex: 1;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #808080;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0;
  }

  &--submit {
    @include button;

    margin-top: 10px;
  }
}
